.DS_Store
*.log
*.vs
*.vscode
*.vsconfig
/obj
Logs/
Packages/
Temp/
Library/
/*/outputs/
/[Uu]ser[Ss]ettings/

#android studio
*.sln
*.csproj
build
gen
.gradle
.idea
.hgcheck
infer-out
captures
local.properties
*.orig
*.rej
out
bin
dist
*.iml
build.gradle_mine
.DS_Store
*.idea