<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdaptyPublicSdkKey</key>
	<string>PUBLIC_SDK_KEY</string>
	<key>AdaptyObserverMode</key>
	<false/>
	<key>AdaptyIDFACollectionDisabled</key>
	<false/>
</dict>
</plist>
